<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.zhdtedu.riverchiefs.dao.mapper.PointInfoMapper" >
  <resultMap id="BaseResultMap" type="com.zhdtedu.riverchiefs.dao.entity.PointInfo" >
    <id column="ID_" property="id" jdbcType="BIGINT" />
    <result column="CODE_" property="code" jdbcType="BIGINT" />
    <result column="NAME_" property="name" jdbcType="VARCHAR" />
    <result column="LEVEL_" property="level" jdbcType="VARCHAR" />
    <result column="LOCATION_" property="location" jdbcType="VARCHAR" />
    <result column="CATEGORY_ID_" property="categoryId" jdbcType="BIGINT" />
    <result column="ADDRESS_" property="address" jdbcType="VARCHAR" />
    <result column="DESCRIPTION_" property="description" jdbcType="VARCHAR" />
    <result column="NETWORK_CODE_" property="networkCode" jdbcType="BIGINT" />
    <result column="MANAGE_DEPT_ID_" property="manageDeptId" jdbcType="BIGINT" />
    <result column="OWERSHIP_ID_" property="owershipId" jdbcType="BIGINT" />
    <result column="ATTACH_PATH_" property="attachPath" jdbcType="VARCHAR" />
    <result column="CREATE_TIME_" property="createTime" jdbcType="TIMESTAMP" />
    <result column="UPDATE_TIME_" property="updateTime" jdbcType="TIMESTAMP" />
  </resultMap>
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
    <where >
      <foreach collection="example.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    ID_, CODE_, NAME_, LEVEL_, LOCATION_, CATEGORY_ID_, ADDRESS_, DESCRIPTION_, NETWORK_CODE_, 
    MANAGE_DEPT_ID_, OWERSHIP_ID_, ATTACH_PATH_, CREATE_TIME_, UPDATE_TIME_
  </sql>

  <!--根据名称和编码查询列表 "  parameterType="String"-->
  <select id="selectByBasinExample" resultMap="BaseResultMap"   >
    select
    <include refid="Base_Column_List" />
    from rcs_point_info
    where 1=1
    <if test="code != null">
      and code=#{code}
    </if>
    <if test="name != null">
      and name=#{name}
    </if>
    limit ${(pageNo-1)*pageSize},${pageSize}
  </select>

  <!-- 获得总记录数 -->

  <select id="getTotalCount" resultType="int"   >
    select
    count(1) as count
    from rcs_point_info
    where 1=1
     <if test="code != null">
      and code=#{code}
    </if>
    <if test="name != null">
      and name=#{name}
    </if>

  </select>



  <select id="selectByExample" resultMap="BaseResultMap" parameterType="com.zhdtedu.riverchiefs.dao.entity.PointInfoExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    from rcs_point_info
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Long" >
    select 
    <include refid="Base_Column_List" />
    from rcs_point_info
    where ID_ = #{id,jdbcType=BIGINT}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long" >
    delete from rcs_point_info
    where ID_ = #{id,jdbcType=BIGINT}
  </delete>
  <delete id="deleteByExample" parameterType="com.zhdtedu.riverchiefs.dao.entity.PointInfoExample" >
    delete from rcs_point_info
    #{id,jdbcType=BIGINT}
  </delete>
  <insert id="insert" parameterType="com.zhdtedu.riverchiefs.dao.entity.PointInfo" >
    insert into rcs_point_info (ID_, CODE_, NAME_, 
      LEVEL_, LOCATION_, CATEGORY_ID_, 
      ADDRESS_, DESCRIPTION_, NETWORK_CODE_, 
      MANAGE_DEPT_ID_, OWERSHIP_ID_, ATTACH_PATH_, 
      CREATE_TIME_, UPDATE_TIME_)
    values (#{id,jdbcType=BIGINT}, #{code,jdbcType=BIGINT}, #{name,jdbcType=VARCHAR}, 
      #{level,jdbcType=VARCHAR}, #{location,jdbcType=VARCHAR}, #{categoryId,jdbcType=BIGINT}, 
      #{address,jdbcType=VARCHAR}, #{description,jdbcType=VARCHAR}, #{networkCode,jdbcType=BIGINT}, 
      #{manageDeptId,jdbcType=BIGINT}, #{owershipId,jdbcType=BIGINT}, #{attachPath,jdbcType=VARCHAR}, 
      #{createTime,jdbcType=TIMESTAMP}, #{updateTime,jdbcType=TIMESTAMP})
  </insert>
  <insert id="insertSelective" parameterType="com.zhdtedu.riverchiefs.dao.entity.PointInfo" >
    insert into rcs_point_info
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        ID_,
      </if>
      <if test="code != null" >
        CODE_,
      </if>
      <if test="name != null" >
        NAME_,
      </if>
      <if test="level != null" >
        LEVEL_,
      </if>
      <if test="location != null" >
        LOCATION_,
      </if>
      <if test="categoryId != null" >
        CATEGORY_ID_,
      </if>
      <if test="address != null" >
        ADDRESS_,
      </if>
      <if test="description != null" >
        DESCRIPTION_,
      </if>
      <if test="networkCode != null" >
        NETWORK_CODE_,
      </if>
      <if test="manageDeptId != null" >
        MANAGE_DEPT_ID_,
      </if>
      <if test="owershipId != null" >
        OWERSHIP_ID_,
      </if>
      <if test="attachPath != null" >
        ATTACH_PATH_,
      </if>
      <if test="createTime != null" >
        CREATE_TIME_,
      </if>
      <if test="updateTime != null" >
        UPDATE_TIME_,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=BIGINT},
      </if>
      <if test="code != null" >
        #{code,jdbcType=BIGINT},
      </if>
      <if test="name != null" >
        #{name,jdbcType=VARCHAR},
      </if>
      <if test="level != null" >
        #{level,jdbcType=VARCHAR},
      </if>
      <if test="location != null" >
        #{location,jdbcType=VARCHAR},
      </if>
      <if test="categoryId != null" >
        #{categoryId,jdbcType=BIGINT},
      </if>
      <if test="address != null" >
        #{address,jdbcType=VARCHAR},
      </if>
      <if test="description != null" >
        #{description,jdbcType=VARCHAR},
      </if>
      <if test="networkCode != null" >
        #{networkCode,jdbcType=BIGINT},
      </if>
      <if test="manageDeptId != null" >
        #{manageDeptId,jdbcType=BIGINT},
      </if>
      <if test="owershipId != null" >
        #{owershipId,jdbcType=BIGINT},
      </if>
      <if test="attachPath != null" >
        #{attachPath,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null" >
        #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateTime != null" >
        #{updateTime,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.zhdtedu.riverchiefs.dao.entity.PointInfoExample" resultType="java.lang.Integer" >
    select count(*) from rcs_point_info
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map" >
    update rcs_point_info
    <set >
      <if test="record.id != null" >
        ID_ = #{record.id,jdbcType=BIGINT},
      </if>
      <if test="record.code != null" >
        CODE_ = #{record.code,jdbcType=BIGINT},
      </if>
      <if test="record.name != null" >
        NAME_ = #{record.name,jdbcType=VARCHAR},
      </if>
      <if test="record.level != null" >
        LEVEL_ = #{record.level,jdbcType=VARCHAR},
      </if>
      <if test="record.location != null" >
        LOCATION_ = #{record.location,jdbcType=VARCHAR},
      </if>
      <if test="record.categoryId != null" >
        CATEGORY_ID_ = #{record.categoryId,jdbcType=BIGINT},
      </if>
      <if test="record.address != null" >
        ADDRESS_ = #{record.address,jdbcType=VARCHAR},
      </if>
      <if test="record.description != null" >
        DESCRIPTION_ = #{record.description,jdbcType=VARCHAR},
      </if>
      <if test="record.networkCode != null" >
        NETWORK_CODE_ = #{record.networkCode,jdbcType=BIGINT},
      </if>
      <if test="record.manageDeptId != null" >
        MANAGE_DEPT_ID_ = #{record.manageDeptId,jdbcType=BIGINT},
      </if>
      <if test="record.owershipId != null" >
        OWERSHIP_ID_ = #{record.owershipId,jdbcType=BIGINT},
      </if>
      <if test="record.attachPath != null" >
        ATTACH_PATH_ = #{record.attachPath,jdbcType=VARCHAR},
      </if>
      <if test="record.createTime != null" >
        CREATE_TIME_ = #{record.createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="record.updateTime != null" >
        UPDATE_TIME_ = #{record.updateTime,jdbcType=TIMESTAMP},
      </if>
    </set>
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map" >
    update rcs_point_info
    set ID_ = #{record.id,jdbcType=BIGINT},
      CODE_ = #{record.code,jdbcType=BIGINT},
      NAME_ = #{record.name,jdbcType=VARCHAR},
      LEVEL_ = #{record.level,jdbcType=VARCHAR},
      LOCATION_ = #{record.location,jdbcType=VARCHAR},
      CATEGORY_ID_ = #{record.categoryId,jdbcType=BIGINT},
      ADDRESS_ = #{record.address,jdbcType=VARCHAR},
      DESCRIPTION_ = #{record.description,jdbcType=VARCHAR},
      NETWORK_CODE_ = #{record.networkCode,jdbcType=BIGINT},
      MANAGE_DEPT_ID_ = #{record.manageDeptId,jdbcType=BIGINT},
      OWERSHIP_ID_ = #{record.owershipId,jdbcType=BIGINT},
      ATTACH_PATH_ = #{record.attachPath,jdbcType=VARCHAR},
      CREATE_TIME_ = #{record.createTime,jdbcType=TIMESTAMP},
      UPDATE_TIME_ = #{record.updateTime,jdbcType=TIMESTAMP}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.zhdtedu.riverchiefs.dao.entity.PointInfo" >
    update rcs_point_info
    <set >
      <if test="code != null" >
        CODE_ = #{code,jdbcType=BIGINT},
      </if>
      <if test="name != null" >
        NAME_ = #{name,jdbcType=VARCHAR},
      </if>
      <if test="level != null" >
        LEVEL_ = #{level,jdbcType=VARCHAR},
      </if>
      <if test="location != null" >
        LOCATION_ = #{location,jdbcType=VARCHAR},
      </if>
      <if test="categoryId != null" >
        CATEGORY_ID_ = #{categoryId,jdbcType=BIGINT},
      </if>
      <if test="address != null" >
        ADDRESS_ = #{address,jdbcType=VARCHAR},
      </if>
      <if test="description != null" >
        DESCRIPTION_ = #{description,jdbcType=VARCHAR},
      </if>
      <if test="networkCode != null" >
        NETWORK_CODE_ = #{networkCode,jdbcType=BIGINT},
      </if>
      <if test="manageDeptId != null" >
        MANAGE_DEPT_ID_ = #{manageDeptId,jdbcType=BIGINT},
      </if>
      <if test="owershipId != null" >
        OWERSHIP_ID_ = #{owershipId,jdbcType=BIGINT},
      </if>
      <if test="attachPath != null" >
        ATTACH_PATH_ = #{attachPath,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null" >
        CREATE_TIME_ = #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateTime != null" >
        UPDATE_TIME_ = #{updateTime,jdbcType=TIMESTAMP},
      </if>
    </set>
    where ID_ = #{id,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.zhdtedu.riverchiefs.dao.entity.PointInfo" >
    update rcs_point_info
    set CODE_ = #{code,jdbcType=BIGINT},
      NAME_ = #{name,jdbcType=VARCHAR},
      LEVEL_ = #{level,jdbcType=VARCHAR},
      LOCATION_ = #{location,jdbcType=VARCHAR},
      CATEGORY_ID_ = #{categoryId,jdbcType=BIGINT},
      ADDRESS_ = #{address,jdbcType=VARCHAR},
      DESCRIPTION_ = #{description,jdbcType=VARCHAR},
      NETWORK_CODE_ = #{networkCode,jdbcType=BIGINT},
      MANAGE_DEPT_ID_ = #{manageDeptId,jdbcType=BIGINT},
      OWERSHIP_ID_ = #{owershipId,jdbcType=BIGINT},
      ATTACH_PATH_ = #{attachPath,jdbcType=VARCHAR},
      CREATE_TIME_ = #{createTime,jdbcType=TIMESTAMP},
      UPDATE_TIME_ = #{updateTime,jdbcType=TIMESTAMP}
    where ID_ = #{id,jdbcType=BIGINT}
  </update>
</mapper>