<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.zhdtedu.riverchiefs.dao.mapper.PointDataMapper" >
  <resultMap id="BaseResultMap" type="com.zhdtedu.riverchiefs.dao.entity.PointData" >
    <id column="ID_" property="id" jdbcType="INTEGER" />
    <result column="NAME_" property="name" jdbcType="INTEGER" />
    <result column="QUOTA_" property="quota" jdbcType="VARCHAR" />
    <result column="TIME_" property="time" jdbcType="VARCHAR" />
    <result column="MONITOR_VAULE_" property="monitor_value" jdbcType="INTEGER" />
    <result column="STANDARD_VAlUE_" property="standard_value" jdbcType="INTEGER" />
    <result column="UNIT_" property="unit" jdbcType="VARCHAR" />
    <result column="IS_QUALIFIED_" property="is_qualified" jdbcType="VARCHAR" />
    <result column="MULTIPLE_" property="multiple" jdbcType="INTEGER" />
  </resultMap>

  <select id="getPointData" resultMap="BaseResultMap"  >
    select ID_ ,NAME_ ,QUOTA_,TIME_,MONITOR_VAULE_,STANDARD_VAlUE_,UNIT_,IS_QUALIFIED_ ,MULTIPLE_ from  rcs_point_data
  </select>
  <insert id="insert" parameterType="com.zhdtedu.riverchiefs.dao.entity.PointData">
    insert into rcs_point_data (ID_, NAME_, QUOTA_,
      TIME_, MONITOR_VAULE_, STANDARD_VAlUE_,
      UNIT_, IS_QUALIFIED_, MULTIPLE_
      )
    values (#{id,jdbcType=INTEGER}, #{name,jdbcType=VARCHAR}, #{quota,jdbcType=VARCHAR},
      #{time,jdbcType=TIMESTAMP}, #{monitor_value,jdbcType=INTEGER}, #{standard_value,jdbcType=INTEGER},
      #{unit,jdbcType=VARCHAR}, #{is_qualified,jdbcType=VARCHAR}, #{multiple,jdbcType=INTEGER}
      )
  </insert>
  <delete id="deleteById" parameterType="java.lang.Integer">
    delete from rcs_point_data
    where ID_ = #{id,jdbcType=INTEGER}
  </delete>
  <update id="updateById" parameterType="com.zhdtedu.riverchiefs.dao.entity.PointData" >
    update rcs_point_data
    set ID_ = #{id,jdbcType=INTEGER},
      NAME_ = #{name,jdbcType=VARCHAR},
      QUOTA_ = #{quota,jdbcType=VARCHAR},
      TIME_ = #{time,jdbcType=TIMESTAMP},
      MONITOR_VAULE_ = #{monitor_value,jdbcType=INTEGER},
      STANDARD_VAlUE_ = #{standard_value,jdbcType=INTEGER},
      UNIT_ = #{unit,jdbcType=VARCHAR},
      IS_QUALIFIED_ = #{is_qualified,jdbcType=VARCHAR},
      MULTIPLE_ = #{multiple,jdbcType=INTEGER}
    where ID_ = #{id,jdbcType=BIGINT}
  </update>
</mapper>