<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.zhdtedu.riverchiefs.dao.mapper.RcsArchiveFlowMapper" >
  <resultMap id="BaseResultMap" type="com.zhdtedu.riverchiefs.dao.entity.RcsArchiveFlow" >
    <id column="F_ID" property="fId" jdbcType="BIGINT" />
    <result column="OPER_NUM" property="operNum" jdbcType="INTEGER" />
    <result column="OPINION" property="opinion" jdbcType="VARCHAR" />
    <result column="OPERATION" property="operation" jdbcType="VARCHAR" />
    <result column="OPERATOR" property="operator" jdbcType="VARCHAR" />
    <result column="OPER_TIME" property="operTime" jdbcType="TIMESTAMP" />
    <result column="TIMES" property="times" jdbcType="INTEGER" />
    <result column="UNIT" property="unit" jdbcType="VARCHAR" />
    <result column="DEPT_ID" property="deptId" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
    <where >
      <foreach collection="example.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    F_ID, OPER_NUM, OPINION, OPERATION, OPERATOR, OPER_TIME, TIMES, UNIT, DEPT_ID
  </sql>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="com.zhdtedu.riverchiefs.dao.entity.RcsArchiveFlowExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    from rcs_archive_flow
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Long" >
    select 
    <include refid="Base_Column_List" />
    from rcs_archive_flow
    where F_ID = #{fId,jdbcType=BIGINT}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long" >
    delete from rcs_archive_flow
    where F_ID = #{fId,jdbcType=BIGINT}
  </delete>
  <delete id="deleteByExample" parameterType="com.zhdtedu.riverchiefs.dao.entity.RcsArchiveFlowExample" >
    delete from rcs_archive_flow
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.zhdtedu.riverchiefs.dao.entity.RcsArchiveFlow" >
    insert into rcs_archive_flow (F_ID, OPER_NUM, OPINION, 
      OPERATION, OPERATOR, OPER_TIME, 
      TIMES, UNIT, DEPT_ID
      )
    values (#{fId,jdbcType=BIGINT}, #{operNum,jdbcType=INTEGER}, #{opinion,jdbcType=VARCHAR}, 
      #{operation,jdbcType=VARCHAR}, #{operator,jdbcType=VARCHAR}, #{operTime,jdbcType=TIMESTAMP}, 
      #{times,jdbcType=INTEGER}, #{unit,jdbcType=VARCHAR}, #{deptId,jdbcType=VARCHAR}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.zhdtedu.riverchiefs.dao.entity.RcsArchiveFlow" >
    insert into rcs_archive_flow
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="fId != null" >
        F_ID,
      </if>
      <if test="operNum != null" >
        OPER_NUM,
      </if>
      <if test="opinion != null" >
        OPINION,
      </if>
      <if test="operation != null" >
        OPERATION,
      </if>
      <if test="operator != null" >
        OPERATOR,
      </if>
      <if test="operTime != null" >
        OPER_TIME,
      </if>
      <if test="times != null" >
        TIMES,
      </if>
      <if test="unit != null" >
        UNIT,
      </if>
      <if test="deptId != null" >
        DEPT_ID,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="fId != null" >
        #{fId,jdbcType=BIGINT},
      </if>
      <if test="operNum != null" >
        #{operNum,jdbcType=INTEGER},
      </if>
      <if test="opinion != null" >
        #{opinion,jdbcType=VARCHAR},
      </if>
      <if test="operation != null" >
        #{operation,jdbcType=VARCHAR},
      </if>
      <if test="operator != null" >
        #{operator,jdbcType=VARCHAR},
      </if>
      <if test="operTime != null" >
        #{operTime,jdbcType=TIMESTAMP},
      </if>
      <if test="times != null" >
        #{times,jdbcType=INTEGER},
      </if>
      <if test="unit != null" >
        #{unit,jdbcType=VARCHAR},
      </if>
      <if test="deptId != null" >
        #{deptId,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.zhdtedu.riverchiefs.dao.entity.RcsArchiveFlowExample" resultType="java.lang.Integer" >
    select count(*) from rcs_archive_flow
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map" >
    update rcs_archive_flow
    <set >
      <if test="record.fId != null" >
        F_ID = #{record.fId,jdbcType=BIGINT},
      </if>
      <if test="record.operNum != null" >
        OPER_NUM = #{record.operNum,jdbcType=INTEGER},
      </if>
      <if test="record.opinion != null" >
        OPINION = #{record.opinion,jdbcType=VARCHAR},
      </if>
      <if test="record.operation != null" >
        OPERATION = #{record.operation,jdbcType=VARCHAR},
      </if>
      <if test="record.operator != null" >
        OPERATOR = #{record.operator,jdbcType=VARCHAR},
      </if>
      <if test="record.operTime != null" >
        OPER_TIME = #{record.operTime,jdbcType=TIMESTAMP},
      </if>
      <if test="record.times != null" >
        TIMES = #{record.times,jdbcType=INTEGER},
      </if>
      <if test="record.unit != null" >
        UNIT = #{record.unit,jdbcType=VARCHAR},
      </if>
      <if test="record.deptId != null" >
        DEPT_ID = #{record.deptId,jdbcType=VARCHAR},
      </if>
    </set>
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map" >
    update rcs_archive_flow
    set F_ID = #{record.fId,jdbcType=BIGINT},
      OPER_NUM = #{record.operNum,jdbcType=INTEGER},
      OPINION = #{record.opinion,jdbcType=VARCHAR},
      OPERATION = #{record.operation,jdbcType=VARCHAR},
      OPERATOR = #{record.operator,jdbcType=VARCHAR},
      OPER_TIME = #{record.operTime,jdbcType=TIMESTAMP},
      TIMES = #{record.times,jdbcType=INTEGER},
      UNIT = #{record.unit,jdbcType=VARCHAR},
      DEPT_ID = #{record.deptId,jdbcType=VARCHAR}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.zhdtedu.riverchiefs.dao.entity.RcsArchiveFlow" >
    update rcs_archive_flow
    <set >
      <if test="operNum != null" >
        OPER_NUM = #{operNum,jdbcType=INTEGER},
      </if>
      <if test="opinion != null" >
        OPINION = #{opinion,jdbcType=VARCHAR},
      </if>
      <if test="operation != null" >
        OPERATION = #{operation,jdbcType=VARCHAR},
      </if>
      <if test="operator != null" >
        OPERATOR = #{operator,jdbcType=VARCHAR},
      </if>
      <if test="operTime != null" >
        OPER_TIME = #{operTime,jdbcType=TIMESTAMP},
      </if>
      <if test="times != null" >
        TIMES = #{times,jdbcType=INTEGER},
      </if>
      <if test="unit != null" >
        UNIT = #{unit,jdbcType=VARCHAR},
      </if>
      <if test="deptId != null" >
        DEPT_ID = #{deptId,jdbcType=VARCHAR},
      </if>
    </set>
    where F_ID = #{fId,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.zhdtedu.riverchiefs.dao.entity.RcsArchiveFlow" >
    update rcs_archive_flow
    set OPER_NUM = #{operNum,jdbcType=INTEGER},
      OPINION = #{opinion,jdbcType=VARCHAR},
      OPERATION = #{operation,jdbcType=VARCHAR},
      OPERATOR = #{operator,jdbcType=VARCHAR},
      OPER_TIME = #{operTime,jdbcType=TIMESTAMP},
      TIMES = #{times,jdbcType=INTEGER},
      UNIT = #{unit,jdbcType=VARCHAR},
      DEPT_ID = #{deptId,jdbcType=VARCHAR}
    where F_ID = #{fId,jdbcType=BIGINT}
  </update>
</mapper>