<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zhdtedu.system.dao.mapper.TaskMapper">
  <resultMap id="BaseResultMap" type="com.zhdtedu.system.dao.entity.Task">
    <result column="ID_" jdbcType="INTEGER" property="id" />
    <result column="USER_ID_" jdbcType="INTEGER" property="userId" />
    <result column="TASK_TYPE_" jdbcType="VARCHAR" property="taskType" />
    <result column="ORDER_TIME_" jdbcType="TIMESTAMP" property="orderTime" />
    <result column="SCHEDULE_" jdbcType="VARCHAR" property="schedule" />
    <result column="ORDER_AMOUNT_" jdbcType="DOUBLE" property="orderAmount" />
    <result column="ORDER_PERSON_" jdbcType="VARCHAR" property="orderPerson" />
    <result column="COMPLETE_ORDER_TIME_" jdbcType="TIMESTAMP" property="completeOrderTime" />
    <result column="LINK_" jdbcType="VARCHAR" property="link" />
    <result column="QUANTITY_" jdbcType="INTEGER" property="quantity" />
    <result column="DESCRIPTION_" jdbcType="VARCHAR" property="description" />
    <result column="TASK_CATEGORY_" jdbcType="VARCHAR" property="taskCategory" />
    <result column="INTEGER_" jdbcType="VARCHAR" property="integer" />

  </resultMap>
  <delete id="deleteById" parameterType="com.zhdtedu.system.dao.entity.Task">
    delete from sys_task
    where ID_ = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.zhdtedu.system.dao.entity.Task">
     insert into sys_task ( USER_ID_, TASK_TYPE_,
      ORDER_TIME_, SCHEDULE_, ORDER_AMOUNT_,
      ORDER_PERSON_, COMPLETE_ORDER_TIME_, LINK_,
      QUANTITY_, DESCRIPTION_,TASK_CATEGORY_,INTEGER_)
    values (#{userId,jdbcType=INTEGER}, #{taskType,jdbcType=VARCHAR},
      #{orderTime,jdbcType=TIMESTAMP}, #{schedule,jdbcType=VARCHAR}, #{orderAmount,jdbcType=DOUBLE},
      #{orderPerson,jdbcType=VARCHAR}, #{completeOrderTime,jdbcType=TIMESTAMP}, #{link,jdbcType=VARCHAR},
      #{quantity,jdbcType=INTEGER}, #{description,jdbcType=VARCHAR},#{taskCategory,jdbcType=VARCHAR},#{integer,jdbcType=INTEGER})
  </insert>
  <update id="updateById" parameterType="com.zhdtedu.system.dao.entity.Task">
    update sys_task
    set ID_ = #{id,jdbcType=INTEGER},
      USER_ID_ = #{userId,jdbcType=INTEGER},
      TASK_TYPE_ = #{taskType,jdbcType=VARCHAR},
      ORDER_TIME_ = #{orderTime,jdbcType=TIMESTAMP},
      SCHEDULE_ = #{schedule,jdbcType=VARCHAR},
      ORDER_AMOUNT_ = #{orderAmount,jdbcType=DOUBLE},
      ORDER_PERSON_ = #{orderPerson,jdbcType=VARCHAR},
      COMPLETE_ORDER_TIME_ = #{completeOrderTime,jdbcType=TIMESTAMP},
      LINK_ = #{link,jdbcType=VARCHAR},
      QUANTITY_ = #{quantity,jdbcType=INTEGER},
      DESCRIPTION_ = #{description,jdbcType=VARCHAR},
      TASK_CATEGORY_=#{taskCategory,jdbcType=VARCHAR},
      INTEGER_=#{integer,jdbcType=INTEGER}
    where ID_ = #{id,jdbcType=INTEGER}
  </update>
  <!-- 获得总记录数 -->

  <select id="getTotalCount" resultType="int"   >
    select count(*) from  sys_task
    where 1=1
    <!-- <if test="name != null">
      and NAME_=#{name}
    </if>
    <if test="start_time != null">
      and TIME_ &gt; #{start_time}
    </if>
    <if test="end_time != null">
      and TIME_ &lt;#{end_time}
    </if> -->
  </select>
  <!--根据名称和开始时间，结束时间获取监测点列表 " -->
  <select id="getLists" resultMap="BaseResultMap"   >
    select   ID_, USER_ID_, TASK_TYPE_, ORDER_TIME_, SCHEDULE_, ORDER_AMOUNT_, ORDER_PERSON_,
    COMPLETE_ORDER_TIME_ ,LINK_,QUANTITY_,DESCRIPTION_,TASK_CATEGORY_,INTEGER_ from sys_task
    where 1=1
    <!--
    <if test="name != null">
      and NAME_=#{name}
    </if>
    <if test="start_time != null">
      and TIME_ &gt; #{start_time}
    </if>
    <if test="end_time != null">
      and TIME_ &lt;#{end_time}
    </if> -->
    limit ${(pageIndex-1)*pageSize},${pageSize}
  </select>
  <select id="get" parameterType="com.zhdtedu.system.dao.entity.Task" resultMap="BaseResultMap" >
    select ID_, USER_ID_, TASK_TYPE_, ORDER_TIME_, SCHEDULE_, ORDER_AMOUNT_, ORDER_PERSON_,
    COMPLETE_ORDER_TIME_ ,LINK_,QUANTITY_,DESCRIPTION_,TASK_CATEGORY_,INTEGER_ from sys_task
    where 1=1
   <if test="ID_ != null">
   and   ID_ = #{id,jdbcType=INTEGER}
   </if>
  </select>
</mapper>
